<div ng-controller="AddPhoneCtrl">
  <form ng-submit="addPhone()">
    <input type="text" class="form-control" ng-model="newPhone.name">
    <button class="btn btn-primary" type="submit">Dodaj</button>
  </form>
</div>

<table class="table table-striped">
  <thead>
    <th>Naziv</th>
    <th>Instance</th>
  </thead>
  <tbody>
    <tr ng-repeat="phone in phones">
      <td width="30%">{{phone.name}}</td>
      <td width="70%">
        <table>
          <thead>
            <th>Boja</th>
            <th>Kolicina</th>
          </thead>
          <tbody>
            <tr ng-repeat="instance in phone.inventory">
              <td width="60%">{{instance.color}}</td>
              <td width="40%">{{instance.quantity}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <a ng-click="phone.addingInstance = !phone.addingInstance">Dodaj</a>
                <form ng-submit="addInstance(phone)" class="row" ng-show="phone.addingInstance">
                  <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="phone.newInventory.color" placeholder="Naziv instance" >
                  </div>
                  <div class="col-md-3">
                    <input type="number" class="form-control" ng-model="phone.newInventory.quantity" placeholder="Inicijalna kolicina">
                  </div>
                  <div class="col-md-3">
                    <button class="btn btn-primary" type="submit">Dodaj</button>
                  </div>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <a ng-click="deletePhone(phone)" class="pull-right">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
